<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.mapper.AlbumMapper">
    <select id="getAllAlbums" resultType="com.gem.entity.Album">
        select * from album
    </select>

    <insert id="insert" parameterType="com.gem.entity.Album" useGeneratedKeys="true">
        insert into album
        values(#{id},#{title},#{company},#{kind},#{description},#{linguistic},#{publishTime})
    </insert>
</mapper>