<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.mapper.ConcertMapper">
    <select id="getAllConcerts" resultType="com.gem.entity.Concert">
        select * from concert
    </select>

    <insert id="insert" parameterType="com.gem.entity.Concert" useGeneratedKeys="true">
        insert into concert
        values(#{id},#{title},#{showTime},#{city},#{place},#{cnt},#{description})
    </insert>
</mapper>