<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.mapper.TripMapper">
    <select id="getAllTrips" resultType="com.gem.entity.Trip">
        select * from trip
    </select>

    <insert id="insert" parameterType="com.gem.entity.Trip" useGeneratedKeys="true">
        insert into trip
        values(#{id},#{destination},#{tripTime},#{activity},#{description})
    </insert>

    <delete id="deleteById">
        delete from trip
        where id=#{id}
    </delete>

    <update id="updateTrip" parameterType="com.gem.entity.Trip">
        update trip
        <set>
            <if test="destination!=null">destination=#{destination},</if>
            <if test="tripTime!=null">trip_time=#{tripTime},</if>
            <if test="activity!=null">activity=#{activity},</if>
            <if test="description!=null">description=#{description},</if>
        </set>
        where id=#{id}
    </update>
</mapper>